<a href="https://colab.research.google.com/github/clu-ub/-arti-lab2-/blob/main/Copy_of_Arti_lap2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

for root, dirs, files in os.walk("/kaggle/input"):
    if files:
        print(root)
        for f in files:
            print("  -", f)

import pandas as pd

df = pd.read_csv("student_dropout_dataset_v3.csv")

print("Dataset shape:")
print(df.shape)

print("\nFirst 5 rows:")
print(df.head())

print("\nColumn names:")
print(df.columns)

print("\nData types:")
print(df.dtypes)

Dataset shape:
(10000, 19)

First 5 rows:
   Student_ID   Age  Gender  Family_Income Internet_Access  \
0           1  22.1    Male        25000.0             Yes
1           2  20.7    Male        25000.0             Yes
2           3  22.4    Male        40183.0             Yes
3           4  24.4    Male            NaN             Yes
4           5  20.5  Female        25319.0             Yes

   Study_Hours_per_Day  Attendance_Rate  Assignment_Delay_Days  \
0                 3.36             86.1                      2
1                 4.30             68.0                      2
2                 4.40             70.9                      0
3                  NaN             82.2                      2
4                 4.19             75.7                      1

   Travel_Time_Minutes Part_Time_Job Scholarship  Stress_Index   GPA  \
0                 20.4           Yes          No           5.5  0.96
1                 44.0            No          No           6.8  1.28
2                 48.9           Yes          No           5.5  1.68
3                 38.6            No          No           NaN  1.78
4                 23.0            No          No           7.0  1.48

   Semester_GPA  CGPA Semester   Department Parental_Education  Dropout
0          0.90  0.90   Year 1         Arts        High School        0
1          1.20  1.19   Year 3  Engineering           Bachelor        1
2          1.32  1.32   Year 1         Arts             Master        0
3          1.77  1.77   Year 1           CS        High School        1
4          0.91  0.87   Year 4     Business           Bachelor        0

Column names:
Index(['Student_ID', 'Age', 'Gender', 'Family_Income', 'Internet_Access',
       'Study_Hours_per_Day', 'Attendance_Rate', 'Assignment_Delay_Days',
       'Travel_Time_Minutes', 'Part_Time_Job', 'Scholarship', 'Stress_Index',
       'GPA', 'Semester_GPA', 'CGPA', 'Semester', 'Department',
       'Parental_Education', 'Dropout'],
      dtype='object')

Data types:
Student_ID                 int64
Age                      float64
Gender                    object
Family_Income            float64
Internet_Access           object
Study_Hours_per_Day      float64
Attendance_Rate          float64
Assignment_Delay_Days      int64
Travel_Time_Minutes      float64
Part_Time_Job             object
Scholarship               object
Stress_Index             float64
GPA                      float64
Semester_GPA             float64
CGPA                     float64
Semester                  object
Department                object
Parental_Education        object
Dropout                    int64
dtype: object